<h1>Minitest progress...</h1>
<p>I'm learning minitest - here are some of my favorite links</p>

<% data.minitest['entries'].each do |entry| %>
  <div>
    <p><%= link_to entry.title, entry.url %> | <%= entry.date %></p>
  </div>
<% end %>

